*{
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

body{
    background-color: grey;
}

.header{
    color: rgb(225, 250, 213);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.timer-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.input-timer{
    padding: 8px;
    border-radius: 8px;
    border: none;
    width: 12vw;
}

.input-label{
    padding: 8px;
    border-radius: 8px;
    border: none;
    
}

.add-button{
    padding: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    border: 1px solid black;
}

.add-button:active{
    border: 1px solid red;
}

.add-button:hover{
    background-color: rgba(243, 96, 96, 0.685);
}

.start-button, .reset-button{
    padding: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    border: 1px solid black;
}

.start-button:active{
    border: 1px solid green;
}

.start-button:hover{
    background-color: rgb(168, 223, 143);
}

.reset-button:active{
    background-color: red;
}

.reset-button:hover{
    background-color: rgba(243, 96, 96, 0.685);
}

.timer-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0 8px 0;
    color: rgb(212, 235, 202);
}

.start-container{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    gap: 8px;
}

.timer-label{
    font-size: 24px;
    padding: 8px;
}

.timer{
    font-size: 38px;
}

.ul-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}

.ul-list li{
    list-style: none;
    color: rgb(225, 250, 213);
}

.close{
    background: none;
    border: none;
    color: rgb(49, 49, 49);
}